# Fichiers temporaires R
.RData
.Rhistory

# Logs
logs/
*.log
.Utilisateur Rproj/
/.Rproj.user/4BC96E71/sources/prop
/.Rproj.user/4BC96E71/sources
.Rproj.user/4BC96E71/sources/prop/340DA0F1
/.Rproj.user/4BC96E71/sources
.Rproj.user/4BC96E71/sources/session-35467634/AD6FC752
/.Rproj.user
/.Rproj.user/4BC96E71
.Rproj.user/
